<h1 id="reset-css"><a href="#reset-css" class="headerlink" title="reset-css"></a>reset-css</h1><p>这个样式表写给还在为前端开发中各个浏览器样式不统一问题纠结的同学，但不包含Hack。<br>大家可以把样式表下载到本地使用，也可以使用CDN调取。</p>
<h3 id="文件目录"><a href="#文件目录" class="headerlink" title="文件目录"></a>文件目录</h3><pre><code class="bash">.
├── dist <span class="comment"># 1.2.2 版本</span>
├── public <span class="comment"># 2.0.0 版本</span>
│   ├── main <span class="comment"># 通用重置样式表：包含IE、MacOS Safari 及 手机重置样式表 的所有特性</span>
│   ├── mobile <span class="comment"># 手机重置样式表： 使用无衬线字体、去除IOS默认表单样式、去除a及表单点击时的蓝边及灰色背景</span>
│   └── native <span class="comment"># 原生应用重置样式表： 禁止长按链接与图片弹出菜单、禁止选中文字，及 手机重置样式表 的所有特性</span>
├── sass <span class="comment"># 2.0.0 的 sass 目录</span>
├── .gitignore
├── gruntfile.js
├── package.json
└── README.md</code></pre>
